body{
    background-color: #ffffff;
    background-attachment:scroll;
    background-repeat: no-repeat;
    padding: 0;
    margin:0;
    overflow-x: hidden;
    animation: fadeInAnimation;
    animation-duration: 4.5s;
    font-family: "Geneva";
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;		
}
div.header{
    display: inline-block;
    background-color: #346aa4;
    width:100%;
    min-height: auto;
}
div.body{
    margin-left:0.75in;
    margin-right:0.75in;
    min-height: 480px; 
    max-height: auto;
}

h1 {
    text-align: center;
    font-family: "Geneva";
    color: #ffffff; 
    font-size: 56px; 
  }

h2{
    font-family: "Geneva";
    color:#000000;
    text-align:center;
}
img.frame{
    border: 5px solid #346aa4;
}

#footer{
    width:100%;
    float:left;
    background-color: #FF914D;
    /*bottom:0px;
    left:0px;
    background-color:#3d4b63;
    height:40px;*/
}
    
#footer p{
    font-family: "Geneva";
    color:#ffffff;
    text-align: center;
    line-height:30px;
}
p.center_align{
    font-family: "Geneva";
    color:#000000;
    /*padding: 20px;*/
    text-align: center;   
    font-size: 16px;
}
p.left_align{
    font-family: "Geneva";
    color:#000000;
    float: left;
    font-size: 16px;
}
p.right_float{
    float: right; 
    padding-right:45px ;
    font-family: "Geneva";
    color:#000000;
    font-size: 16px;
}
ul{
    font-family: "Geneva";
    color: #000000;
    padding-top: 0px;
    padding-bottom: 0px;
}
li{
    font-family: "Geneva";
    color: #000000;
    font-size: 16px;
}
ul.nav {
    font-family: "Geneva";
    background-color: #346aa4;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:#ffffff;
    width: 100%;
    text-align: center;

}
li.nav {
    display: inline-block;
    font-size: 18px;
}
.button {
    border-radius: 4px;
    background-color: #346aa4;
    color:white;
    transition-duration: 0.4s;
} 
.button:hover {
    background-color: white; /* Green */
    color: black;
}
a:link{
    color:#6d8088;
}
a:visited{
    color:#0000cc;
}
a:hover{
    color:#8799e9;
}
a:active{
    color:#0000cc;
}
a.nav:link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.nav:visited{
    color:white;
}
a.nav:hover{
    color:#5ea0f2;
}a.nav:active{
    color:#5ea0f2;
}
a.exp:link{
  color: white;

}
img.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
img.left{
    float:left;
    margin-right:15px;
    margin-bottom:10px;
}  
br.left{
    clear:left;
}
img.right{
    float:right;
    margin-left:15px;
    margin-bottom:10px;
}
 
br.right{
    padding:10px;
    clear:right;
}

#accordian{
    margin: 100px auto;
    width: 600px
}

#accordian li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius:4px;
}

#accordian li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #c20000;
}

#accordian li label span{
    transform: rotate(90deg);
    font-size: 20px;
    color: #333;
}
#accordian label +input[type = "radio"]{
    display: none;
}

#accordian .content{
    padding: 0 10px;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordian label +input[type = "radio"]:checked + .content{
    max-height: 600px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1268px;
}

